<table class="table table-hover">
    <tr>
        <td width="36px">
            <img src="{{ todo.author.avatar(36) }}">
        </td>
        <td>
            {{ todo.body }}<br> {{ _('due:') }} <b>{{ moment(todo.due_date).format('LLL') }}</b>
            {% if not todo.completed %}
                <p><a style="width: 100%;" href="{{ url_for('main.to_do', id=todo.id) }}">{{ _('Click to finish.') }}</a></p>
            {% else %}
                <p>{{ _('Not finished:') }} <a href="{{ url_for('main.to_do', id=todo.id) }}">{{ _('undo') }}</a></p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>
