<table class="table table-hover">
    <tr>
        <td width="36px">
            <img src="{{ todo.author.avatar(36) }}">
        </td>
        <td>
            {{ todo.body }}<br> {{ _('due:') }} <b>{{ moment(todo.due_date).format('LLL') }}</b>
            {% if not todo.completed %}
                <p><a style="width: 100%;" href="#" onclick="confirm_func();return false;">{{ _('Click to finish.') }}</a></p>
            {% endif %}
            <script>
                function confirm_func() {
                    if(confirm("Are you sure you want to complete this To-do?")) {
                        window.location.href = "{{ url_for('main.to_do', id=todo.id) }}"
                    }
                }
            </script>
        </td>
    </tr>
</table>

